<!-- app/views/comments/_comment.html.erb -->
<div class="comment">
  <p><%= comment.content %></p>
  <small>by <%= comment.user.email%></small>
  <hr/>
  <!-- Additional content and formatting for each comment -->
</div>
