<!-- app/views/posts/index.html.erb -->
<h1>All Posts</h1>
<ul>
  <% @posts.each do |post| %>
    <li>
      <%= link_to post.name, post %>
      
      <!-- Display other post details here, if needed -->
    </li>
  <% end %>
</ul>

<%= link_to "New Post", new_post_path %>
